{% extends 'base.html.twig' %}

{% block title %}TypeAppart index{% endblock %}

{% block body %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">Types Appartements</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Libelle</th>
                            <th>Description</th>
                            <th>DateCreation</th>
                            <th>IsActive</th>
                            <th>Lecture</th>
                            <th>Modification</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for type_appart in type_apparts %}
                        <tr>
                            <td>{{ type_appart.id }}</td>
                            <td>{{ type_appart.libelle }}</td>
                            <td>{{ type_appart.description }}</td>
                            <td>{{ type_appart.dateCreation ? type_appart.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ type_appart.isActive ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('app_type_appart_show', {'id': type_appart.id}) }}"><button class="btn btn-primary">Afficher</button></a>
                            </td>
                            <td>
                                <a href="{{ path('app_type_appart_edit', {'id': type_appart.id}) }}"><button class="btn btn-info">Modifier</button></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Table vide</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('app_type_appart_new') }}"><button class="btn btn-primary">Ajouter</button></a>
{% endblock %}
